@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ICARUS</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Javascript</h2>
        <p><a class="btn btn-default" href="~/Home/Javascript">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mobile</h2>
        <p><a class="btn btn-default" href="~/Home/Mobile">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cloud</h2>
        <p><a class="btn btn-default" href="~/Home/Cloud">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>BigData</h2>
        <p><a class="btn btn-default" href="~/Home/BigData">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Internet Of Things</h2>
        <p><a class="btn btn-default" href="~/Home/IoT">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>BlockChain</h2>
        <p><a class="btn btn-default" href="~/Home/BlockChain">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>AI</h2>
        <p><a class="btn btn-default" href="~/Home/AI">Learn more &raquo;</a></p>
    </div>
</div>